$theme-colors: (
  primary: #f63e02,
  secondary: #ffd4b7,
  light: #fffaf2,
);

// primary: rgb(233, 113, 0),

$white: #fffaf2;
$black: #30323d;
$body-color: #30323d;

$font-family-base: "Nunito", sans-serif;
$headings-font-family: "Heebo", sans-serif;
